$hoverColour: #a4b0be;

.page-container {
    background-color: #ecf0f1;
    width: 100%;
}
.header {
    width: 100%;
    height: 4rem;
    background-color: #ffffff;
    position: fixed;
    box-shadow: 3px 3px 3px #ecf0f1;
    display: inline-flex;
    justify-content: center;
    padding: 1rem;
    
    ul {
        display:inline;  
        list-style:none;
        padding: 0 1rem 0 1rem;
        color: black !important;
    }
    .nonActive {
        background-color: #a4b0be;
    }
}

.side-nav {
    width: 6rem;
    background-color: #dfe4ea;
    opacity: 1;
    height: 100%;
    position: fixed;
    margin-top: 4rem;
    align-content: center;
    
}

.icons {
    padding: 2rem 1.5rem 1rem 1rem;
    position: relative;
    text-align: center;
    align-content: center;
    font-size: 10px;
}

.activeCat {
    text-decoration: underline;
    font-weight: bold;
    color: #627911;
}

.icons:hover {
    background-color: $hoverColour;
}

.content {
    position:absolute;
    top: 5rem;
    left:7rem;
    bottom:0px;
    overflow: scroll;
    min-width: 90%;
}

.card {
    height: 40rem;
    .card-action {
        position: absolute !important;
        bottom: 10px;
    }
}

.card-image img {
    max-height: 15rem;
    min-height: 15rem;
}

.card-content p {
    min-height: 10rem;
}

.loader {
    padding: 10% 0 0 20%;
}

